{% extends '/base.html.twig' %}

{% block body %}
    {% if wish_form.vars.value.id == null %}
        <h2>Add your wishes!</h2>
    {% else %}
        <h2>Update your wishes!</h2>
    {% endif %}
    {{ form_start(wish_form) }}
    {{ form_row(wish_form.title) }}
    {{ form_row(wish_form.description) }}
    {{ form_row(wish_form.author) }}
    {{ form_row(wish_form.category) }}
    {{ form_row(wish_form.isPublished) }}
    <button class="btn btn-sm btn-primary">{{ wish_form.vars.value.id == null ?
        'Create' : 'Modify' }}</button>
    {{ form_end(wish_form) }}
{% endblock %}

{% block title %}Add your wishes | {{ parent() }}{% endblock %}
