{% extends '/base.html.twig' %}

{% block title %}Wish Détail{% endblock %}


{% block body %}

    <div class="card mt-2 mb-2 w-50 m-auto">
        <div class="card-body">
            <div class="text-center">
                {% if app.user == wish.user or is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('app_delete', {'id' : wish.id, 'token': csrf_token('delete'~wish.id)}) }}"
                        class="btn btn-danger mt-2"
                        title="Delete the wish">
                        Delete
                    </a>
                {% endif %}
                {% if app.user == wish.user %}
                    <a href="{{ path('app_update', {'id' : wish.id}) }}"
                       class="btn btn-secondary mt-2"
                       title="Modify the wish">
                        Modify
                    </a>
                {% endif %}
            </div>
            <h5 class="card-title">{{ wish.title }}</h5>
            <p class="card-text">[{{ wish.category.name }}]</p>
            <p class="wish-credit">Created by {{ wish.user.username }} on {{ wish.dateCreated|date('Y-m-d') }}</p>
            <p class="card-text">{{ wish.description|nl2br }}</p>
        </div>
    </div>
{% endblock %}