<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('images/favicon.png') }}">

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/app.css') }}">
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <header>
        <div class="container">
            <h1 class="header-logo">
                <a href="{{ path('app_home') }}" title="Go back to homepage">
                    <img src="{{ asset('images/logo.svg') }}"
                         alt="Bucket-List Logo">
                    Bucket-List
                </a>
            </h1>
            {% include('navbar.html.twig') %}
        </div>
    </header>

    <body class="d-flex flex-column">

    <main class="flex-grow-1">

        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }} alert-dismissible fade show"
                     role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                    </button>
                </div>
            {% endfor %}
        {% endfor %}

        <div class="container">
            {% block body %}{% endblock %}
        </div>
    </main>


    <footer>
        <div class="container">
            &copy; Bucket-List {{ "now"|date("Y") }}
        </div>
    </footer>

    </body>


</html>
